# AIM: Read the data sets collected from GPS reciever and filter it

## IMPORTS

In [1]:
import pandas as pd
# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 21)

In [31]:
colnm = ['code','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20'] 
df = pd.read_csv("openField1.txt" ,names=colnm ,  header=None )
# df.columns([])
# df.where(df['21']==None)
df

,code,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,$GPGSV,3,1,11,02,41,255,40.0,04,14,...,29,05,35,299,38.0,06,25.0,201,41.0,1*63
1,$GPGSV,3,2,11,07,63,136,39.0,09,52,...,34,16,15,039,33.0,29,8.0,320,37.0,1*6C
2,$GPGSV,3,3,11,30,43,181,44.0,13,05,...,NaN,26,00,000,NaN,1*5D,NaN,NaN,NaN,NaN
3,$GLGSV,3,1,10,78,41,136,NaN,77,43,...,NaN,76,06,016,NaN,79,3.0,172,NaN,1*7A
4,$GLGSV,3,2,10,69,31,293,NaN,84,33,...,NaN,83,12,227,NaN,85,14.0,345,NaN,1*78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18688,$GNGSA,A,3,02,07,12,19,27.0,30,33,...,NaN,NaN,NaN,NaN,0.8,0.4,0.6,3*31,NaN,NaN
18689,$GNGSA,A,3,07,10,23,24,25.0,29,30,...,33,NaN,NaN,NaN,0.8,0.4,0.6,4*31,NaN,NaN
18690,$GNVTG,NaN,T,NaN,M,0.0,N,0.0,K,A*3D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18691,$GNRMC,122531.00,A,5159.367185,N,00422.977396,E,0.0,NaN,191120,...,W,A,V*6F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18692,$GNGGA,122531.00,5159.367185,N,00422.977396,E,1,12.0,0.4,-2.8,...,47.0,M,NaN,*50,NaN,NaN,NaN,NaN,NaN,NaN

## only GPGSV dataset

In [33]:
gsv = df[ df['code'] == '$GPGSV']
gsv

,code,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,$GPGSV,3,1,11,02,41,255,40.0,04,14,...,29,05,35,299,38.0,06,25.0,201,41.0,1*63
1,$GPGSV,3,2,11,07,63,136,39.0,09,52,...,34,16,15,039,33.0,29,8.0,320,37.0,1*6C
2,$GPGSV,3,3,11,30,43,181,44.0,13,05,...,NaN,26,00,000,NaN,1*5D,NaN,NaN,NaN,NaN
20,$GPGSV,3,1,11,02,41,255,40.0,04,14,...,29,05,35,299,36.0,06,25.0,201,42.0,1*6E
21,$GPGSV,3,2,11,07,63,136,38.0,09,52,...,32,16,15,039,32.0,29,8.0,320,36.0,1*6B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18652,$GPGSV,3,2,10,07,66,123,32.0,09,46,...,39,13,10,254,38.0,16,14.0,033,35.0,1*6C
18653,$GPGSV,3,3,10,29,07,316,35.0,30,49,...,44,1*6C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18672,$GPGSV,3,1,10,02,37,248,31.0,04,09,...,36,05,41,298,41.0,06,19.0,198,40.0,1*69
18673,$GPGSV,3,2,10,07,66,123,31.0,09,46,...,39,13,10,254,40.0,16,14.0,033,35.0,1*60
18674,$GPGSV,3,3,10,29,07,316,35.0,30,49,...,45,1*6D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## only GPGNA datasets